.content {
    background-color: #e5e5e5;
    position: relative;
    height: 1200px;
}

.main-content {
    width: 100%;
    padding: 0 11rem;
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    position: absolute;
    top: -3rem;
}

.current-news-card {
    width: 19rem;
    height: 27rem;
    border-radius: 12px;
    background-color: #fff;
    margin-right: 20px;
    margin-bottom: 20px;

    filter: drop-shadow(0px 0px 8px rgba(0, 0, 0, 0.25));
}

.current-news-card img {
    width: 100%;
    height: 13rem;
    border-radius: 12px;
}

.card-body {
    padding: 15px;
    
    
}

.card-body__title {
    font-weight: 400;
    font-size: 0.8rem;
    line-height: 17px;
    color: #3D3D3D;
    margin-bottom: 0.5rem;
}

.card-body__content {
    font-weight: 400;
    font-size: 0.8rem;
    line-height: 16px;
    color: #646464;
    margin-top: 0.5rem;
}

.card-body__line {
    width: 55%;
}

.card-footer {
    padding: 0 15px 0 15px;
    display: flex;
}

.card-footer__info {
    display: flex;
    align-items: center;
    margin-right: 10px;
}

.card-footer__info img {
    width: 1.2rem;
    height: 1.2rem;
    margin-right: 0.3rem;
}

.card-footer__info span {
    font-weight: 400;
    font-size: 0.6rem;
    line-height: 12px;
}