.content {
    background-color: #e5e5e5;
}

.main-content {
    padding: 0 11rem;
    width: 1200px;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
/* 
    justify-content: space-around;
    justify-content: flex-end;  */


    background-color: #63ffbe;
    margin: auto;
}

.current-news-card {
    width: 21rem;
    height: 27rem;
    border: 1px solid black;
}