.heading {
    background-image: url('../../public/Photos/head-bg.png');
    background-size: cover;
    width: 100%;
    height: 18.5rem;
    padding: 4.3rem 20rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.heading__title {
    font-weight: 700;
    font-size: 3rem;
    line-height: 60px;
    color: #FFFFFF;
    margin-bottom: 1.1rem;
}

.heading__nav {
    width: 800px;
    display: flex;
    justify-content: center;

}

.main-list {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.list-item button {
    height: 2.6rem;
    padding: 0 1.5rem;
    background-color: #fff;
    margin-right: 9px;
    display: flex;
    align-items: center;
    text-align: center;
    border-radius: 10px;
    border: none;

    font-weight: 700;
    font-size: 1rem;
    line-height: 19px;
}

.list-item button:hover {
    cursor: pointer;
    border: 2px solid blue;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}